@{
    ViewData["Title"] = "Home Page";
}

@model string

<ul class="nav nav-tabs d-md-none mb-3" id="mobileTabs">
    <li class="nav-item">
        <button class="nav-link active" id="editor-tab" type="button">Editor</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" id="preview-tab" type="button">Preview</button>
    </li>
</ul>

<div class="row">
    <div class="col-md-6 d-md-block" id="editorPane">
        <form method="post" asp-action="GeneratePdf" id="pdfForm" class="h-100 d-flex flex-column">
            @Html.AntiForgeryToken()
            <ul class="nav nav-tabs mb-2" id="editorTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="markdown-tab" data-bs-toggle="tab" data-bs-target="#markdown-pane" type="button" role="tab" aria-controls="markdown-pane" aria-selected="true">Markdown</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="file-tab" data-bs-toggle="tab" data-bs-target="#file-pane" type="button" role="tab" aria-controls="file-pane" aria-selected="false">File</button>
                </li>
            </ul>
            <div class="tab-content flex-grow-1">
                <div class="tab-pane fade show active h-100" id="markdown-pane" role="tabpanel" aria-labelledby="markdown-tab">
                    <textarea id="markdownInput" name="markdown" class="form-control no-wrap h-100" wrap="off">@Model</textarea>
                </div>
                <div class="tab-pane fade h-100" id="file-pane" role="tabpanel" aria-labelledby="file-tab">
                    <input type="file" id="fileInput" name="upload" class="form-control" accept=".pdf,.doc,.docx,.txt" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6 d-none d-md-flex flex-column" id="previewPane">
        <ul class="nav nav-tabs mb-2" id="previewTabs">
            <li class="nav-item">
                <button class="nav-link active" id="htmlModeTab" type="button">HTML</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="pdfModeTab" type="button">PDF</button>
            </li>
        </ul>
        <div id="preview" class="surface p-3 flex-grow-1 overflow-auto"></div>
    </div>
</div>

@section Footer {
    <footer class="fixed-bottom surface border-top p-3">
        <div class="container-fluid">
            <div class="collapse d-md-block mb-2" id="optionsCollapse">
                <div class="d-flex align-items-center">
                    <label for="fileName" class="form-label mb-0 me-2">Filename:</label>
                    <input type="text" id="fileName" name="fileName" form="pdfForm" class="form-control form-control-sm" placeholder="document" />
                </div>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <button class="btn btn-outline-secondary me-2 d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#optionsCollapse" aria-expanded="false" aria-controls="optionsCollapse">&#9650;</button>
                <button type="submit" form="pdfForm" class="btn btn-primary">Generate PDF</button>
            </div>
        </div>
    </footer>
}

@section Scripts {
    <script src="~/lib/marked/marked.min.js" asp-append-version="true"></script>
    <script src="~/js/markdownEditor.js" asp-append-version="true"></script>
}
