html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.no-wrap {
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: auto;
}

.highlight {
  background-color: #d4edda;
}

tr.highlight > td,
tr.highlight > th {
  background-color: #d4edda;
}

.line-block {
  display: block;
}

#editorPane,
#previewPane {
  height: 80vh;
}

#markdownInput,
#preview {
  height: 100%;
}

#preview {
  overflow-y: auto;
}

#editorPane form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#markdownInput {
  flex: 1 1 auto;
}

#preview input[type="text"] {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 2px 4px;
}

#preview input[type="checkbox"],
#preview input[type="radio"] {
  margin-right: 4px;
}
